:root{
--branco-principal:#FFFFFF;
--cinza-secundario:#C0C0C0;
--botao-azul:#1e4eea;  
--cor-de-fundo:#00030C;
--fonte-principal: "inter";
--cor-click:#1eeac8;
}

body {
    background-color:var(--cor-de-fundo);
    color:var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;

    
}
*{ 

margin: 0;
padding: 0;
}

.principal{
 
    background-image: url("img/Background.png");
    background-repeat: no-repeat; 
    background-size: contain;
    align-items: center;
    text-align: center;
}
.container{
height: 100vh;
display: grid;
grid-template-columns: 50% 50%;


}
.container__botao{

background-color: var(--botao-azul);
border-radius: 5px;
padding: 1em;
color: var(--branco-principal);
display: block;
text-decoration: none;
margin: 1em;

}

.botao_secundario {  
background-color: transparent;
border: 2px solid var(--branco-principal);

}
.container__aviso{
    font-size: 12px;
    color: var(--cinza-secundario);


}
.container__titulo{
    font-size: 28px;
    font-weight: 700;
}

.container__imagem{
 margin: 1em 0 2em 0;
 
}
 .container__caixa{
margin: 0 6em;
 
 }

.secundario__imagem{
    width: 80%;

}
.secundario{
align-items: center;
margin: 0 10em ;
}
.descriçao__titulo{
font-weight: 700;
font-size: 48px;
color:var(--branco-principal);
margin-bottom: 0.1em;
}

.descriçao__paragrafo{
    color: var(--cinza-secundario);
}
 .secundario__botao{
display: inline-block;
margin-top: 1rem;
 }
 .not__imagem {
    width: 100%;
 }
  .titulo__curso{
font-weight: 700;
 font-size: 48px;
 color: var(--branco-principal);

  }

.discriçao__paragrafo__curso{
    color: var(--cinza-secundario);
}
 
 .container__descriçao{
    padding: 2em;
 }


.dispositivos__lista {
display:flex;
justify-content: center;
list-style-type: none;
margin: 5em 0;
}

.dispositivos{
    text-align: center;
}
.dispositivos__titulo{

    font-size: 48px;
   color: var(--branco-principal);

}
.item__lista{
    font-size: 32px;
    color: var(--branco-principal);
}
.rodape__lista{
 display:flex;
 justify-content: space-around;
 margin-top: 1em 0 ;
 list-style-type: none;

}
.lista__link a{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}

.logo__alura{

    display: flex ;
    margin:0 46% ;
    margin-bottom: 2em;
}
.rodape__paragrafo{
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
}
.rodape{
    text-align: center;
    margin: 3em 3em
}
.lista__link a:hover{
color: var(--botao-azul);

}
.lista__link a:active{
    color: var(--cor-click);
}
.container__botao:hover{
 color:#00030C;
 background-color: #1eeac8;

}

@midia screen and ( max-width: 768px){
.container{
 display: block;
 background-image: none;
}
 .container__imagem{
 width:50vw;
 }
 .container__caixa{
 margin:2em 2em;

 }
 .secundario{
 margin: 0
 text-aling: center;    

 }
.secundario__imagem{
 width:50vw;

}

 .dispositivos__lista{
display: block;


 }
  .rodape__lista{
 display: block; 
  }


    

}


